export_function() {
  local name=$1
  local alias_dir=$PWD/.direnv/aliases
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  local target="$alias_dir/$name"
  if declare -f "$name" >/dev/null; then
    echo "#!/usr/bin/env bash" > "$target"
    declare -f "$name" >> "$target" 2>/dev/null
    echo "$name "'$@' >> "$target"
    chmod +x "$target"
  fi
}

start-port() {
  echo "Starting port $1"
  busybox httpd -f -p $1 &
  nc -vz 127.0.0.1 $1 -W 1
}
export_function start-port

kill-ports() {
  echo "Killing ports ... "
  ps -A | grep busybox
  killall busybox
  ps -A | grep busybox
}
export_function kill-ports
